.login-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

/* for all buttons in auth pages */
.login-btn {
  margin: 30px 0;
  text-align: center;
}

.btn-primary {
  color: #fff;
  background-color: #1188e6;
  border-color: #1288e5;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 11px 30px;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  box-sizing: border-box;
  transition: color .3s,background-color .3s,border-color .3s;
  user-select: none;
}

.heading{
    color: black;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    margin: 5vh 0;
}