.btn{
    margin-top: 20px;
    text-align: center;
}

.input{
    font-weight: bold;
    height: 30px;
    padding: 2px;
}

.form-to-add{
    text-align: center;
    margin: 0 20vh;
}

